tests/image/data/000000000092.jpg filter=lfs diff=lfs merge=lfs -text
tests/image/data/000000000575.jpg filter=lfs diff=lfs merge=lfs -text
tests/audio/data/sample_1.wav filter=lfs diff=lfs merge=lfs -text
tests/audio/data/sample_2.mp3 filter=lfs diff=lfs merge=lfs -text
