[submodule "submodules/trustmark"]
	path = submodules/trustmark
	url = https://github.com/adobe/trustmark.git
[submodule "submodules/HiDDeN"]
	path = submodules/HiDDeN
	url = https://github.com/ando-khachatryan/HiDDeN.git
[submodule "submodules/ARWGAN"]
	path = submodules/ARWGAN
	url = https://github.com/yakulex/ARWGAN.git
[submodule "submodules/stable_signature"]
	path = submodules/stable_signature
	url = https://github.com/Powss/stable_signature.git
[submodule "submodules/ssl_watermarking"]
	path = submodules/ssl_watermarking
	url = https://github.com/facebookresearch/ssl_watermarking.git
[submodule "submodules/DWSF"]
	path = submodules/DWSF
	url = https://github.com/yakulex/DWSF.git
[submodule "submodules/CIN"]
	path = submodules/CIN
	url = https://github.com/rmpku/CIN.git
[submodule "submodules/watermark_anything"]
	path = submodules/watermark_anything
	url = https://github.com/facebookresearch/watermark-anything.git
[submodule "submodules/tree-ring-watermark"]
	path = submodules/tree-ring-watermark
	url = https://github.com/YuxinWenRick/tree-ring-watermark.git
[submodule "submodules/invismark"]
	path = submodules/invismark
	url = https://github.com/microsoft/InvisMark.git
[submodule "submodules/mbrs"]
	path = submodules/mbrs
	url = https://github.com/jzyustc/MBRS.git
[submodule "submodules/videoseal"]
	path = submodules/videoseal
	url = https://github.com/facebookresearch/videoseal.git
[submodule "submodules/GaussianShading"]
	path = submodules/GaussianShading
	url = https://github.com/bsmhmmlf/Gaussian-Shading.git
[submodule "submodules/RingID"]
	path = submodules/RingID
	url = https://github.com/showlab/RingID.git
[submodule "submodules/MaXsive"]
	path = submodules/MaXsive
	url = https://github.com/Mao718/MaXsive.git
[submodule "submodules/METR"]
	path = submodules/METR
	url = https://github.com/deepvk/metr.git
