algorithms:
  ssl_watermarking:
    params:
      method: zero-bit

post_embed_metrics:
  - PSNR
  - SSIM
  - LPIPS
  - CLIP_IQA
  - Aesthetic
post_attack_metrics:
{% include 'common/post_attack_metrics.yml' %} 
post_extract_metrics:
{% include 'common/tpr_fpr.yml' %} 

datasets:
{% include 'common/diffusiondb.yml' %}

attacks:
{% include 'common/distortions.yml' %}

pipeline:
  result_path: ./test_results/ssl_watermarking_0bit
  aggregators:
    - CSV:
        table_name: table