algorithms:
  - treering

post_embed_metrics:
  - CLIP_IQA
  - Aesthetic
  - ImageReward
  - CLIPScore
  - BLIP
post_attack_metrics:
{% include 'common/post_attack_metrics.yml' %}

datasets:
  DiffusionDB:
      cache_dir: ./datasets/diffusiondb
      subset: 2m_first_5k
      skip_nsfw: true
      return_prompt: true

attacks:
{% include 'common/distortions.yml' %}

pipeline:
  result_path: ./test_results/treering
  aggregators:
    - CSV:
        table_name: table