algorithms:
  treering:
    params:
      module_path: ./submodules/tree-ring-watermark
      device: cuda

post_extract_metrics:
{% include 'common/tpr_fpr.yml' %} 

datasets:
  DiffusionDB:
      cache_dir: ./datasets/diffusiondb
      subset: 2m_first_5k
      skip_nsfw: true
      return_prompt: true

attacks:
{% include 'common/distortions.yml' %}

pipeline:
  result_path: ./test_results/treering
  aggregators:
    - CSV:
        table_name: table