algorithms:
  - treering

post_extract_metrics:
{% include 'common/tpr_fpr.yml' %} 

post_embed_metrics:
  - CLIP_IQA
  - Aesthetic
  - ImageReward
  - CLIPScore
  - BLIP
post_attack_metrics:
{% include 'common/post_attack_metrics.yml' %}

datasets:
{% include 'common/diffusiondb_prompts.yml' %}

attacks:
{% include 'common/distortions.yml' %}

pipeline:
  result_path: ./test_results/treering
  aggregators:
    - CSV:
        table_name: table